header {
  text-align: justify;
  height: 7em;
  padding: 2em 5%;
  background: #702994;
  color: #fff;
}

header::after {
  content: '';
  display: inline-block;
  width: 100%;
}

header > div,
header nav,
header div h1 {
  display: inline-block;
  vertical-align: middle;
}

header > div {
  width: 50%;
  height: 100%;
  text-align: left;
}

header > div::before {
  content: '';
  display: inline-block;  
  vertical-align: middle;
  height: 100%;
}

header nav {
  display: inline-block;
}

.div-body {
  padding-left: 50px;
  padding-top: 50px;
}

.App-link {
  color: #61dafb;
}

.li {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: .5rem;
  font-weight: 700;
}

.dis-line {
  display: block;
}
